.ag-theme-acmecorp .ag-watermark::before {
  background: #dcdfe600 !important;
  content: "";
  color: #dcdfe600 !important;
}
.ag-theme-acmecorp .ag-watermark .ag-watermark-text {
  color: #dcdfe600 !important;
}

.ag-column-last {
  width: 100%;
}
